header {
    background-color: #156583;
    color: #fff;
    position: fixed; /* Change position to fixed */
    left: 0;
    width: calc(100% - 20px); /* Adjusted width to accommodate margin */
    margin-left: 10px; /* Add space on the left */
    margin-right: 10px; /* Add space on the right */
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: padding 0.5s ease;
    border-radius: 15px;
    z-index: 1000; /* Ensure the header is above other content */
}

/* Ensure the header maintains its size when in fixed position */
header.header-fixed {
    padding-top: 20px; /* Adjust padding as needed */
    padding-bottom: 20px; /* Adjust padding as needed */
}

.header-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: 10px;
    font-weight: bold; /* Make the text bold */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding-top: 320px; /* Adjust according to the height of header and profile picture */
}

.experience-item {
    display: flex; /* Display items in a flex container */
    align-items: baseline; /* Align items at the baseline */
}

.experience-item h3,
.experience-item .experience-year {
    margin-right: 10px; /* Add some space between elements */
}

.experience-item .experience-year {
    font-weight: bold; /* Optionally make the year bold */
}

section {
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
    opacity: 1;
    transition: opacity 0.5s ease;
    border-radius: 15px;
}

.portfolio-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 20px;
}

.portfolio-item {
    flex-shrink: 0;
    width: 300px;
    margin-right: 20px;
}

.project-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Reveal sections when in viewport */
.section-visible {
    opacity: 1;
}